@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary: #efc009;
  --color-secondary: #223e6d;
  --color-accent: #17bebb;
  --color-background: #f3f4f6;
  --color-off-white: #f9f8f4;
  --color-text: #111827;

  --font-heading: 'Exo 2', 'sans-serif';
  --font-body: 'Source Sans 3', 'sans-serif';
}
